.saved-movies {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 70px 70px 140px;
    background: var(--color-bg);
}

@media screen and (max-width: 768px) {
    .saved-movies {
      padding: 80px 30px 140px;
    }
  }
  
  @media screen and (max-width: 475px) {
    .saved-movies {
      padding: 80px 10px 140px;
    }
  }